.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
myshinyapp.Rcheck/
myshinyapp*.tar.gz
myshinyapp*.tgz
central dogma group 12.Rcheck/
central dogma group 12*.tar.gz
central dogma group 12*.tgz
README.Rmd
central dogma group 12 .Rcheck/
central dogma group 12 *.tar.gz
central dogma group 12 *.tgz
